# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Python Cache Files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
test*

# ==============================
# Environment Variables / Secrets
# ==============================
.env


# ==============================
# Streamlit Cache
# ==============================
.streamlit/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Build / Distribution
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Jupyter Notebooks (optional)
# ==============================
.ipynb_checkpoints/

# ==============================
# IDE / Editor Settings
# ==============================
.vscode/
.idea/

# ==============================
# Local Databases
# ==============================
*.db
*.sqlite3