# Langchain Libraries
langchain
langchain-community
langchain-huggingface
langchain-chroma
huggingface_hub
langchain-core
langchain-groq

# VectorDB
chromadb

# RAG Document Preprocessing
sentence-transformers
transformers
torch
pypdf
tiktoken

# Streamlit UI
streamlit

# SQLite
sqlalchemy

# Environments + Logging
python-dotenv
tenacity
loguru

# Data Validation and Analytics
pydantic
pandas
numpy
scikit-learn

# API Communication
requests
httpx
fastapi
uvicorn
